body {
    font-family: "Copperplate", fantasy;
}

.name {
    font-size: 90px;
    background-color: greenyellow;
    color: lightpink;
    text-align: center;
}

.main {
    font-size: 120px;
    text-align: center;
}

.section {
    font-size: 60px;
    background-color: aquamarine;
    color: chocolate;
}

li {
    font-size: 45px;
    background-color: orange;
}

p {
    font-size: 45px;
    background-color: blanchedalmond;
}

.dish {
    height: auto;
    width: 1000px;
    margin: auto;
    display: block;
}